<div class="petpostCard">
    <a href="/petpost/{{ id }}" class="petpostLink">
        <div class="petpostTitle">
            <h2>{{ title }}</h2>
            <h4>Posted by {{ user.username }} on {{ formatDate dateCreated }}</h3>
        </div>
    </a>
    <p>{{ content }}</p>
</div>>