<div class="petpostCard">
    <a href="/petpost/{{ id }}" class="petpostLink">
        <div class="petpostTitle">
            <h2>{{ title }}</h2>
            <h4>Posted by {{ user.username }} on {{ formatDate dateCreated }}</h3>
        </div>
    </a>
    <p>{{ content }}</p>
</div>

<section class="card">
    <a href="/dashboard/{{id}}">
    <header>{{post}}</header>
<div class="card-body">
    <ul>
        <li>
            {{petName}}
        </li>
        <li>
            {{petImage}}
        </li>
        <li>
            {{petSpecies}}
        </li>
        <li>
            {{petBreed}}
        </li>
        <li>
            {{petWeight}}
        </li>
        <li>
            {{userName}}
        </li>
    </ul>


    </div>
    </a>
</section>pet_name: 'Nik',
    pet_image: null,
    species: 'Cat',
    breed: 'Siamese',
    weight: 13,
    user_id: 6,
  },